:root > * {
  --md-primary-fg-color: #000000;
  --md-default-fg-color--light: #000000;
  --md-typeset-a-color: #1d70b8;
  --md-accent-fg-color: 	#003078;
  --md-footer-bg-color:    #f3f2f1;
  --md-footer-bg-color--dark:    #f3f2f1;
  --md-footer-fg-color: #505a5f;
  --md-footer-fg-color--light: #505a5f;
  --md-footer-fg-color--lighter: #505a5f;
}

/* Configure the fonts */
.md-typeset {
  font-size: 0.85rem;
}

.md-typeset h1 {
  font-size: 45px;
  font-weight: 700;
}

.md-typeset h2 {
  font-weight: 700;
}

.md-typeset h3 {
  font-weight: 700;
}

.md-typeset a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Configure the main panel */
.md-main__inner {
  margin-top:10px;
}

/* Configure the header */
.md-header{
  box-shadow: none;
  border-bottom: 10px solid; 
  border-bottom-color:  #1d70b8;
}

.md-header__title{
  font-size: 25px;
}

.md-header__topic:first-child{
  font-weight: 400;
}

/* Configure the footer */
.md-footer{
  padding-top: 40px;
  padding-bottom: 25px;
  border-top: 1px solid;
  border-color: #b1b4b6;
}

/* Configure the copyright */
.md-copyright{
  font-size: 15px;
  color:#000000;
}

.md-copyright a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Configures the navigation bar */
.md-nav {
  font-size: 15px;
  line-height: 1.5;
}

.md-nav--primary {
  color: #1d70b8;
}

.md-nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}

.md-nav__item--active .md-nav__item--active {
  font-weight: 700; 
  margin-left: 10px; 
  padding-left: 3px;
  border-left: 3px solid;
  border-left-color:   #1d70b8;
}

.md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item--active,
.md-nav--secondary .md-nav__link--active {
  /* font-weight: 700;  */
  margin-left:  0;
  padding-left: 3px;
  border-left: 3px solid;
  border-left-color:   #1d70b8;
}

/* Configures the tabs below the header */
.md-tabs {
  color: #1d70b8;
  background-color: #f8f8f8;
  border-top: 10px solid;
  border-top-color:  #1d70b8;
  border-bottom: 1px solid;
  border-bottom-color:  #b1b4b6;
  margin-bottom: -10px;  /* Hide the border on .md-header */
  line-height: 1;
}

.md-tabs__link {
  font-size: 18px;
  font-weight: 700;
  opacity: 1;
}

.md-tabs__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.md-tabs__item--active {
  border-bottom: 4px solid;
  border-bottom-color:   #1d70b8;
}

/* Configure the adminitions */
.md-typeset .admonition,
.md-typeset details {
  font-size: 0.85rem;
  border: 3px solid;
  box-shadow: none;
  border-radius: 0px;
  /* border-width: 0;  */
  /* border-left-width: 4px; */
}

/* Create a new banner admonition */
.md-typeset .admonition.banner,
.md-typeset details.banner {
  border-color: #1d70b8;
}
.md-typeset .banner > .admonition-title,
.md-typeset .banner > .admonition-title a,
.md-typeset .banner > summary {
  font-size: 30px;
  background-color: #1d70b8;
  color: white;
  border-radius: 0px;
}
.md-typeset .banner > .admonition-title::before,
.md-typeset .banner > summary::before {
  background-color: white;
}

/* Configure the primary button */
.md-typeset .md-button--primary{
  background-color:  var(--md-typeset-a-color);
  border-color:  var(--md-typeset-a-color);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0px;   
  padding: 2px 10px;
}

/* Configure the tags */
.md-typeset .md-tag {
  border-radius: 0px;
  font-size: 16px;
  width: 20%;
}

.md-typeset .md-tag-icon::before {
  background-color: white;
}