name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Checks and tests
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '${{ matrix.python-version }}'
      - name: Install package and python dependencies
        run: pip install -e ".[dev]"
      - name: Test
        run:  python -m pytest
      - name: Check with pre-commit
        env:
          SKIP: validate-security-scan, run-security-scan
        run: pre-commit run -a
